<?xml version="1.0" encoding="UTF-8"?>

<launch>
  <arg name="map" value="icra"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find robot_control)/maps/$(arg map).yaml" respawn="false" />
  
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_control)/rviz/robot.rviz" />

  <node pkg="robot_control" type="robot_control_client" name="robot_client" respawn="false" output="screen" />

  <node pkg="robot_control" type="robot_control_server" name="robot_server" respawn="false" output="screen"/>
  
  <node pkg="robot_control" type="car_server.py" name="car_server" respawn="false" />
  



</launch>
